
<!-- start custom head snippets -->


    <!-- katex stylesheet and js for rendering math -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.15.1/dist/katex.min.css" integrity="sha384-R4558gYOUz8mP9YWpZJjofhk+zx0AS11p36HnD2ZKj/6JR5z27gSSULCNHIRReVs" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.15.1/dist/katex.min.js" integrity="sha384-z1fJDqw8ZApjGO3/unPWUPsIymfsJmyrDVWC8Tv/a1HeOtGmkwNd/7xUS0Xcnvsx" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.15.1/dist/contrib/auto-render.min.js" integrity="sha384-+XBljXPPiv+OzfbB3cVmLHf4hdUFHlWNZN5spNQ7rmHTXpd7WvJum6fIACpNNfIR" crossorigin="anonymous"
        onload="renderMathInElement(document.body);"></script>

    <!-- defining the delimeters for math -->
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            renderMathInElement(document.body, {
              // customised options
              // • auto-render specific keys, e.g.:
              delimiters: [
                  {left: '$$', right: '$$', display: true},
                  {left: '$', right: '$', display: false},
                  {left: '\\(', right: '\\)', display: false},
                  {left: '\\[', right: '\\]', display: true}
              ],
              // • rendering keys, e.g.:
              throwOnError : false
            });
        });
    </script>

	<!-- webmention -->
	<link rel="webmention" href="https://webmention.io/aefarrell.github.io/webmention" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://webmention.io/js/mentions.js"></script>

    <!-- mastodon-share.js from https://github.com/codepo8/mastodon-share -->
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            // I got the key, I got the secret…
            let key = 'mastodon-instance';
            let instance = localStorage.getItem(key);

            // get the link from the DOM
            const button = document.querySelector('.mastodon-share');

            // refresh the link with the instance name
            const refreshlink = (instance) => {
                button.href = `https://${instance}/share?text=${encodeURIComponent(document.title)}%0A${encodeURIComponent(location.href)}`;
            }

            // got it? Let's go! 
            if (button) {
                // labels and texts from the link
                let prompt = button.dataset.prompt || 'Please tell me your Mastodon instance';
                let editlabel = button.dataset.editlabel || 'Edit your Mastodon instance';
                let edittext = button.dataset.edittext || '✏️';

                // Ask the user for the instance name and set it…
                const setinstance = _ => {
                    instance = window.prompt(prompt, instance);
                    if(instance) {
                        localStorage.setItem(key, instance);
                        createeditbutton();
                        refreshlink(instance);
                        button.click();
                    }
                }
                
                // create and insert the edit link
                const createeditbutton = _ => {
                    if (document.querySelector('button.mastodon-edit')) return;
                    let editlink = document.createElement('button');
                    editlink.innerText = edittext;
                    editlink.classList.add('mastodon-edit');
                    editlink.title = editlabel;
                    editlink.ariaLabel = editlabel;
                    editlink.addEventListener('click', (e) => {
                        e.preventDefault();
                        localStorage.removeItem(key);
                        setinstance();
                    });
                    button.insertAdjacentElement('afterend', editlink);
                }
                
                // if there is  a value in localstorage, create the edit link
                if(localStorage.getItem(key)) {
                    createeditbutton();
                }  
                
                // When a user clicks the link
                button.addEventListener('click', (e) => {

                    // If the user has already entered their instance 
                    // and it is in localstorage write out the link href 
                    // with the instance and the current page title and URL
                    if(localStorage.getItem(key)) {
                        refreshlink(localStorage.getItem(key));
                        // otherwise, prompt the user for their instance and save it to localstorage
                    } else {
                        e.preventDefault();
                        setinstance();
                    }

                });
            }
        });
    </script>

    <style>
    
    /* change the size of the article and sidebar */
		@media (min-width: 80em) {
			.sidebar { width:calc(350px - 1em) }
			.page { width:calc(100% - 350px); padding-inline-end:200px}
        	.archive { width:calc(100% - 350px); padding-inline-end:200px} 
		}
	
	
    /* change the default size of inline formulas  */
        .katex { font-size: 1.0em !important; }

	/* change size of toc elements */
		.toc li{ font-size: 1.0em !important; }

    /* tables */
        table { display: table;
                margin-bottom: 1em;
                margin-left: auto;
                margin-right: auto;
                width: auto;
                font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
                font-size: 0.75em;
                border-collapse: collapse;
                overflow-x: auto;}

        caption{ text-align: left;
                 caption-side: top;
        }


    /* figures */
        figure{ display:block; 
                background-color: #e4e5e6;
                border-radius: 4px; 
		        box-shadow: 0 1px 1px rgba(189, 193, 196, 0.25); 
                padding:0.35em; }
        
        figure img{ display:block;
                    margin-left:auto;
                    margin-right:auto;
                    width:100%;}
                
        figcaption{ counter-increment: figure-counter; 
                    color: #222831; 
                    font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif; 
                    font-size: 0.65em !important;}

        figcaption:before{ content: "Figure\000a0" counter(figure-counter) ":\000a0";
                           font-weight: bold;}
		
	/* sidenote boxes 
       from the tufte-jekyll theme https://github.com/clayh53/tufte-jekyll/
    */
		.sidenote { display: block;
					color: #222831; 
		            font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif; 
		            font-size: 0.65em !important; 
		            text-indent: initial; /* override*/ 
		            background-color: #e4e5e6; 
		            border-radius: 4px; 
		            box-shadow: 0 1px 1px rgba(189, 193, 196, 0.25); 
		            margin-bottom: 1em;}
		.sidenote p:last-child { margin-bottom: 0 !important; /* override*/ }
		.sidenote p { /* remove space above paragraphs that appear directly after notice headline*/ margin-top: 0; padding-top: 0; }
		.sidenote a { color: #000; }
		.sidenote a:hover { color: #5f6162; }
		blockquote.sidenote { border-left-color: #aaaeb0; }
		.sidenote code { background-color: #e9eaea; }
		.sidenote pre code { background-color: inherit; }
		.sidenote ul:last-child { margin-bottom: 0; /* override*/ }
		
		@media (min-width: 64em) { .sidenote { position: absolute; /*top: 0;*/ right: 0; width: 200px; margin-right: -200px; padding-left: 1em; z-index: 10; } }
		@media (min-width: 80em) { .sidenote { width: 300px; margin-right: -330px; margin-top: -30px; } }

        .page__content { counter-reset: figure-counter sidenote-counter;}

        .sidenote-number { counter-increment: sidenote-counter; }

        .sidenote-number:after { content: counter(sidenote-counter);
                                 font-variant-position: super;
                                 font-weight: bold; }

        .sidenote:before { content: counter(sidenote-counter) ":\000a0"; 
                           font-weight: bold;
                           top: 0rem; }

    /* add a button for Mastodon */
        .btn--mastodon { 
            background-color: #1e3050;
            color:#fff;
        }
        .btn--mastodon:visited {
            background-color: #1e3050;
            color:#fff;
        }
        .btn--mastodon:hover {
            background-color: #192944;
            color:#fff;
        }
    </style>

	<meta name="google-site-verification" content="QNAay-t9KoEzSvfSV2zQkATvei_OWZjh9vA6VXz8Ojk" />

<!-- end custom head snippets -->
